.header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background: $color-dark;
  color: $color-light;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &__logo {
    font-size: 18px;
  }

  &__button {
    color: $color-light;
    border: none;
    background: none;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
  }

  &__menu {
    background: $color-dark;
    color: $color-light;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - 40px);
    padding: 70px 20px 50px 20px;
    transition: transform .3s ease;
    transform: translateX(100%);

    &--active {
      transform: translateX(0);
    }

    &-label {
      display: block;
    }
  }

  &__name-input {
    height: 40px;
    font-size: 20px;
    border: none;
    background: $color-light;
    color: $color-dark;

    &:disabled {
      color: $color-light;
      background: $color-dark;
      padding-left: 0;
    }
  }
}
